<!DOCTYPE html>
<html ng-app="index" ng-controller="index">
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="angular.js"></script>
        <script src="LDiff.js"></script>
        <script src="LLocal.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div id="banner">
            <div id="banner_">
                {{appName}}
            </div>
        </div>
        
        <!-- input container -->
        <div id="inputContainer" ng-show="output.length==0">

            <!-- input 1 -->
            <div class="inputDiv">
                <div class="inputName">input #1</div>
                <div>
                    <button class="genericButton" ng-click="input1 = ''">clear</button>
                    <button class="genericButton" ng-click="swap()">swap</button>
                    <button class="genericButton" ng-click="save(1)">save</button>
                    <button class="genericButton" ng-click="load(1)">load</button>
                </div>
                <textarea class="taInput" ng-model="input1" ></textarea>
            </div>

            <!-- input 2 -->
            <div class="inputDiv">
                <div class="inputName">input #2</div>
                <div>
                    <button class="genericButton" ng-click="input2 = ''">clear</button>
                        <button class="genericButton" ng-click="save(2)">save</button>
                    <button class="genericButton" ng-click="load(2)">load</button>
                
                </div>
                <textarea class="taInput" ng-model="input2"></textarea>
            </div>
        
            <button id="computeButton" class="genericButton" ng-click="process()">compute</button>
        </div>
            
        
        
        <!-- output -->
        <div id="outputContainer" ng-show="output.length > 0">
            <button id="backButton" class="genericButton" ng-click="output = []">back</button>
            <div ng-repeat="x in output">
                <div ng-repeat="y in x.lines track by $index" ng-style="getLineCSS(x.type)">
                    {{y.line}}
                </div>
            </div>
        </div>
        
    </body>
</html>
