<!DOCTYPE html>
<html ng-app="LDiff" ng-controller="LDiff">
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div id="banner">
            <div id="banner_">
                {{appName}}
            </div>
        </div>
        
        <!-- input container -->
        <div id="inputContainer" ng-show="output.length==0">

            <!-- input 1 -->
            <div class="inputDiv">
                <div class="inputName">input #1</div>
                <textarea class="taInput" ng-model="input1" ></textarea>
            </div>

            <!-- input 2 -->
            <div class="inputDiv">
                <div class="inputName">input #2</div>
                <textarea class="taInput" ng-model="input2"></textarea>
            </div>
        
            <button id="computeButton" ng-click="process2()">compute</button>
        </div>
            
        
        
        <!-- output -->
        <div id="outputContainer">
            <div ng-repeat="x in output">
                <div ng-repeat="y in x.str track by $index" ng-style="getLineCSS(x.type)">
                    {{y}}
                </div>
            </div>
        </div>
        
    </body>
</html>
